.orange{
    color: orange;
}

.bg-orange{
    background-color: orange !important;
}

.bg-gray{
    background-color: #f2f2f2;
}

.font-10{
    font-size: 10px;
}

.font-12{
    font-size: 12px;
}

.font-15{
    font-size: 15px;
}

.font-18{
    font-size: 18px;
}

.font-weight-lightest{
    font-weight: 100;
}

.font-30{
    font-size: 30px;
}

.font-20{
    font-size: 20px;
}

.icons{
    height: 55px;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.active-1{
    background-color: orange !important;
    color: white !important;
}

.active-2{
    background-color: orange !important;
}

.selected{
    color: orange;
    transform: translateX(20px);
}